.page-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html{
    overflow-x: hidden;
}

.img-logo{
    max-width: 85%;
}

.siky-link{
    display: flex;
    justify-content: center;
}